.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
li{
  color: blue;
}
html {
  font-size: 90.5%;
}

body {
  min-height: 100vh;
  width: 100vw;
  background-color: #34495e;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  color: aliceblue;
  font-family: "Raleway", sans-serif;
}


/* div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

p {
  font-size: 4rem;
}

h1 {
  font-size: 7rem;
  text-transform: capitalize;
}

.h1style {
  min-width: 20rem;
  width: 60rem;
  padding: 2rem 2rem;
  background-color: azure;
  color: #2980b9;
  border-radius: 5rem;
  box-shadow: 0rem 2rem 2rem -1.5rem rgba(0, 0, 0, 0.5);
  margin-top: 2rem;
  text-align: center;
}

.btn,
.btnInner {
  margin: auto;
  margin-top: 2rem;
  border: none;
  outline: none;
  padding: 1rem 3rem;
  background-color: #2980b9;
  color: aliceblue;
  cursor: pointer;
  border-radius: 1rem;
  font-size: 3rem;
}

.btnInner {
  background-color: #d12b54;
  padding: 0.7rem 1.5rem;
  font-size: 1.5rem;
  margin-left: 4rem;
}

.btn:hover {
  background-color: #136ca7;
} 



  
  
  .avatar{
    border-radius: 50%;
    image-orientation: inherit;
  }
  
  .profile {
    box-shadow: 0 8px 8px 0 rgb(0 0 200 / 49%);
    max-width: 300px;
    margin: 12px auto;
    text-align: center;
    font-family: arial;
    padding: 50px;
    border-radius: 80%;
    background-color:rosybrown ;
  }
  .profile:hover{
    transition:400ms;
    box-shadow: 0 8px 16px 0 rgba(14, 153, 44, 0.2);
    transform: translateY(-3px);
  }
  